@import "tailwindcss";

:root {
  --background: #CCCCCC;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
